:root {
  --active-blue: #2196f3;
}

a[href^="https"] {
  color: var(--active-blue);
}

ul + p {
  font-size: 24px;
}

#asd {
  background-color: aquamarine;
}

.link {
  color: rgba(255, 255, 255, 0.4);
}
.active {
  font-size: 20px;
}

li a {
  line-height: 50px;
  font-size: 30px;
}

.holder > h1 {
  font-size: 100px;
}
.holder ~ p {
  font-size: 100px;
}
